.form-rs-account {
  min-width: 500px;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 24px;
}

.btn-reset-pw {
  height: 40px;
  border-radius: 8px;
  border: 1px solid;
  color: #fff;
  font-weight: 500;
  margin: 8px 0 16px;
  background-color: var(--primary-color);
  cursor: pointer;
}

.btn-reset-pw:hover {
  background-color: var(--primary-hover-color);
}
